@media print {
  @page {
    size: 21cm 29.7cm;
    margin: 0cm !important;
  }

  body {
    margin: 0;
    padding: 0;
    visibility: hidden;
  }
  #print_temp {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}
